h1{
    color: brown;
}
h3{
    color: aqua;
    text-align: center;
    size: 90px;
}
#reall{
    background-color: blue;
    padding: 50px;
    border-left: dotted;
    font-size: 30px;
    font-weight: 900;
}
.weal{
    background-color: #DD2D57;
    color: teal;
}
form{

}
table{

}